{% extends 'base.html' %}

{% block title %}Order #{{ order.id }} created{% endblock %}

{% block content %}
<div class="card shadow-custom border-0 col-lg-7 mx-auto mb-3">
  <div class="py-3">
    <h3 class="text-center">Спасибо за ваш заказ. Номер заказа
      <strong>{{ order.id }}</strong>
    </h3>
    <div class="text-center">
        Мы ценим ваш заказ, и мы надеемся, что ваши вкусовые почки
        будет наслаждаться нашими продуктами. В случае любого
        Вопросы, не стесняйтесь обращаться к нам!
    </div>
  </div>
</div>
{% endblock content %}
