{% extends 'base.html' %}

{% block title %}Сброс пароля{% endblock %}

{% block content %}
{% if form.errors %}
  <div class="shadow-custom messages alert alert-danger 
    col-lg-5 mx-auto text-center">
      Не удалось обновить пароль.
      Убедитесь, что предоставляют пароли совпадают и попробуйте снова.
  </div>
{% endif %}

<div class="card shadow-custom border-0 col-lg-5 mx-auto mb-3">
  <h3 class="py-2 font-weight-bold text-grey text-center">
      Сброс пароля
  </h3>
  {% if validlink %}
    <p class="text-center">Fill in new password</p>
    <form method="post">
      {% csrf_token %}
      <div class="input-field">
        <label for="id_new_password1">Новый пароль</label>
        <input class="form-control" type="password" name="new_password1" 
        required=" id="id_new_password1">
      </div>
      <div class="input-field">
        <label for="id_new_password2">
            Повторите пароль
        </label>
        <input class="form-control" type="password" name="new_password2" 
        required=" id="id_new_password2">
      </div>
      <button class="btn btn-block btn-warning mb-3" type="submit">
        Confirm password
      </button>
    </form>
  {% else %}
    <p>
      Provided link is invalid.
      Please request new password reset.
    </p>
  {% endif %}
</div>
{% endblock %}
