{% extends 'base.html' %}

{% block title %}Сброс пароля{% endblock %}

{% block content %}
<div class="card shadow-custom border-0 col-lg-5 mx-auto mb-3 text-center">
  <h3 class="py-2 font-weight-bold text-grey">
      Сброс пароля
  </h3>
  <hr class="my-0">
  <div class="py-2">
      Мы отправили вам инструкции для сброса пароля.
      Если вы не получили никакого электронного письма,
      Пожалуйста, убедитесь, что вы предоставили правильный адрес электронной почты.
  </div>
</div>
{% endblock %}
